<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.android.systemui.DarkMaterial" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="21" android:maxSdkVersion="22" />
	<overlay android:targetPackage="com.android.systemui" android:priority="50" />
	<meta-data android:name="rom" android:value="Nicholas\' Dark Material"/>
	<meta-data android:name="infoShort" android:value="SystemUI"/>
	<meta-data android:name="infoLong" android:value="Welcome to the lollipop, darkened!"/>
	<meta-data android:name="author" android:value="chummy development team"/>
</manifest>