<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chummy.darkmaterial_layers"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.DarkMaterial"
    android:process="com.android.Layers">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:label="Dark Material"
        android:icon="@drawable/icon">
        <service android:name="com.chummy.darkmaterial_layers.Overlay"
            android:exported="true">
            <intent-filter>
                <action android:name="com.layers.plugins.PICK_OVERLAYS" />
                <category android:name="Overlay" />
            </intent-filter>

        </service>

        <meta-data android:name="Layers_Name" android:value="Dark Material"/>
        <meta-data android:name="Layers_Developer" android:value="Aditya Gupta,Nicholas Chum"/>
        <meta-data android:name="Layers_Colors" android:value=""/>
        <meta-data android:name="Layers_Description" android:value="Original Dark MaterialUI,Now for Layers :)"/>
        <meta-data android:name="Layers_OverlayNames" android:value="Framework,SystemUI,Settings, "/>
        <meta-data android:name="Layers_WhatsNew" android:value="v1.0 \n- Initial Test Release"/>

    </application>


</manifest>