<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:process="com.android.Layers" android:sharedUserId="android.uid.DarkMaterial" package="com.chummy.darkmaterial_layers" platformBuildVersionCode="22" platformBuildVersionName="5.1.1-1819727">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:icon="@drawable/icon" android:label="@string/ThemeName">
        <service android:exported="true" android:name="com.chummy.darkmaterial_layers.Overlay">
            <intent-filter>
                <action android:name="com.layers.plugins.PICK_OVERLAYS"/>
                <category android:name="Overlay"/>
            </intent-filter>
        </service>
        <meta-data android:name="Layers_Name" android:value="@string/ThemeName"/>
        <meta-data android:name="Layers_Developer" android:value="@string/ThemeDeveloper"/>
        <meta-data android:name="Layers_Description" android:value="@string/ThemeDescription"/>
        <meta-data android:name="Layers_WhatsNew" android:value="@string/ThemeWhatsNew"/>
        <meta-data android:name="Layers_NormalOverlays" android:value="@string/NormalOverlays"/>
        <meta-data android:name="Layers_StyleSpecificOverlays" android:value="@string/StyleSpecificOverlays"/>
        <meta-data android:name="Layers_Colors" android:value="@string/Colors"/>
        <meta-data android:name="Layers_PluginVersion" android:value="@string/PluginVersion"/>
    </application>
</manifest>